<div class="container">





  <div class="row"><div class="hidden-xs voffset6" ></div>

      <div class="col-md-12   col-lg-12 panel panel-danger" >


                  <br>
                  <div class="panel-heading" id="syllabus">
                    <h1 class="text-center text-primary hidden-xs"    style="font-size:400%"> services</h1>
                    <h1 class="text-center text-primary visible-xs"> our offers</h1>

                    <br><br>
                     <div class="tabbable" >
                          <ul class="nav nav-tabs" id="myTabs">
                              <li class="active"><a href="#p1" data-toggle="tab"><strong>HISTORIE</strong></a></li>
                              <li><a href="#p2" data-toggle="tab"><strong>NAAM</strong></a></li>
                              <li><a href="#p3" data-toggle="tab"><strong>SLOGAN</strong></a></li>
                              <li><a href="#p4" data-toggle="tab"><strong>MISSIE</strong></a></li>
                              <li><a href="#p5" data-toggle="tab"><strong>VISIE</strong></a></li>
                              <li><a href="#p6" data-toggle="tab"><strong>LOGO</strong></a></li>

                      </ul>

                    </div>
                  </div>
                  <div class="panel-body">
                      <div class="tab-content">

                      <!-- ---------------- ----------------
                      ----------------     tab 1 ----------------
                         ---------------- ------------------>
                          <div class="tab-pane fade  in active " id="p1">
                          Historie<br><br>
                           <br>

                            <div class="col-sm-12 col-md-12 col-lg-12">

                                Chetskeys Advertising Promotion & Production werd in 1998 opgericht door Odette Miranda, met als voornaamste activiteit het produceren van radiocommercials en radioprogramma’s met een Surinaamse identiteit. Sinds het oprichtingsjaar heeft ‘Chetskeys’ een gestage groei doorgemaakt. Inmiddels is het bedrijf uitgegroeid tot een productiebedrijf met massamedia-uitingen, waarbij de missie, visie en kernwaarden van het bedrijf het fundament vormen voor verdere groei en ontwikkeling.




  <div class="text-center">
    <ul class="pagination  pagination-lg">
        <li class="active"><a href="#p1">1</a></li>
        <li><a onclick='switchTab("#p2")' >2</a></li>
        <li><a onclick='switchTab("#p3")'>3</a></li>
        <li><a onclick='switchTab("#p4")'>4</a></li>
       <li><a onclick='switchTab("#p5")'>5</a></li>
      <li><a onclick='switchTab("#p6")'>6</a></li> </ul>
  </div>
                                </div>




                              <div class="voffset9"></div>


                    </div><!--  end tab 1-->



                            <!-- ---------------- ----------------
                      ----------------     tab 2 ----------------
                         ---------------- ------------------>
                            <div class="tab-pane fade " id="p2">
                       <div id="pg2"> Onze naam</div><br><br>
                       <div class="col-sm-12 col-md-12 col-lg-12">

  Chetskeys is een samengestelde naam. Het eerste deel ‘Chet’ is een verwijzing naar ‘Marouchette’, de middelste dochter van Odette Miranda. Marouchette was een jaar oud toen Chetskeys werd opgericht. De achterliggende gedachte hierbij is dat Chetskeys gaat voor continuïteit en ook deel zal zijn van de volgende generatie. Het tweede deel ‘keys’ is het symbolische deel van de naam. Hiermee wordt aangegeven dat wij de sleutel willen zijn van de poort naar nieuwe creatieve uitingen voor onze klanten, zodat wij een bijdrage kunnen leveren aan hun groei en ontwikkeling.

  <br><br>

               <div class="text-center">
    <ul class="pagination  pagination-lg">
   <li><a onclick='switchTab("#p1")' >1</a></li>
   <li class="active"><a href="#p2">2</a></li>
   <li><a onclick='switchTab("#p3")'>3</a></li>
   <li><a onclick='switchTab("#p4")'>4</a></li>
   <li><a onclick='switchTab("#p5")'>5</a></li>
   <li><a onclick='switchTab("#p6")'>6</a></li></ul>
        </div>
                          </div>
                          </div> <!--  end tab 2-->




                      <!-- ---------------- ----------------
                      ----------------     tab 3 ----------------
                         ---------------- ------------------>
                          <div class="tab-pane fade " id="p3">
                           Onze slogan<br><br>
                      <div class="col-sm-12 col-md-12 col-lg-12">
   Chetskeys... a prominent force in creative media. Door onze jarenlange ervaring hebben wij bewezen een prominente kracht te zijn, die zijn creatieve stempel heeft gedrukt op het Surinaamse medialandschap.

                          <br><br>
          <div class="text-center">
    <ul class="pagination  pagination-lg">
    <li><a onclick='switchTab("#p1")' >1</a></li>
    <li><a onclick='switchTab("#p2")'>2</a></li>
    <li class="active"><a href="#p3">3</a></li>
    <li><a onclick='switchTab("#p4")'>4</a></li>
   <li><a onclick='switchTab("#p5")'>5</a></li>
   <li><a onclick='switchTab("#p6")'>6</a></li>
            </ul>
        </div>
   </div>
                          </div><!--  end tab 3-->





                      <!-- ---------------- ----------------
                      ----------------     tab 4 ----------------
                         ---------------- ------------------>
                          <div class="tab-pane fade" id="p4">
                           Onze missie<br><br>
                <div class="col-lg-12 voffset2">

               Chetskeys is een mediaproductiepartner, die voor bedrijven niet alleen kwalitatieve audio, video en grafische producties maakt, maar ook zorgdraagt voor het doen plaatsen, uitzenden en drukken van producties. Ons streven is gericht op klanttevredenheid, een goede verhouding tussen prijs en kwaliteit en een daadkrachtige, flexibele en betrouwbare dienstverlening. Ons bedrijf is een prominente creatieve onderneming voor wie langdurige samenwerking essentieel is en waarbij directie en medewerkers een hechte band vormen in een open en transparante relatie die vervuld is van respect en steun voor elkaar.



                <div class="text-center">
    <ul class="pagination  pagination-lg">
    <li><a onclick='switchTab("#p1")' >1</a></li>
    <li><a onclick='switchTab("#p2")'>2</a></li>
    <li><a onclick='switchTab("#p3")'>3</a></li>
    <li class="active"><a href="#p4">4</a></li>
   <li><a onclick='switchTab("#p5")'>5</a></li>
   <li><a onclick='switchTab("#p6")'>6</a></li>
                  </ul>
        </div>

                            </div>


                          </div><!--  end tab 4-->



         <!-- ---------------- ----------------
                      ----------------     tab 4 ----------------
                         ---------------- ------------------>
                          <div class="tab-pane fade" id="p5">
                           Onze visie<br><br>
                <div class="col-lg-12 voffset2">

                Chetskeys wil door professionalisering de kwalitatieve dienstverlening naar een internationale standaard brengen, waardoor de marktpositie verstevigd wordt. Onze ambitie is om binnen vijf jaar uit te groeien tot een massamediaproductiebedrijf dat regionaal zijn diensten aanbiedt.


                <div class="text-center">
    <ul class="pagination  pagination-lg">
    <li><a onclick='switchTab("#p1")' >1</a></li>
    <li><a onclick='switchTab("#p2")'>2</a></li>
    <li><a onclick='switchTab("#p3")'>3</a></li>
    <li><a onclick='switchTab("#p4")'>4</a></li>
    <li class="active"><a href="#p5">5</a></li>
    <li><a onclick='switchTab("#p6")'>6</a></li>
  </ul>
        </div>

                            </div>


                          </div><!--  end tab 5-->



          <!-- ---------------- ----------------
                      ----------------     tab 4 ----------------
                         ---------------- ------------------>
                          <div class="tab-pane fade" id="p6">
                           Onze logo<br><br>
                <div class="col-lg-12 voffset2">

               De spiraal is al eeuwenlang het symbool van de vrouwelijke kracht, de evolutie van het universum en het proces van uitbreiding. De Chetskeys’ spiraal staat voor de beweging die we teweegbrengen in het creatieproces: creëren, loslaten en opnieuw creëren tot “een Chetskeys’ productie”.



                <div class="text-center">
    <ul class="pagination  pagination-lg">
    <li><a onclick='switchTab("#p1")' >1</a></li>
    <li><a onclick='switchTab("#p2")'>2</a></li>
    <li><a onclick='switchTab("#p3")'>3</a></li>
    <li><a onclick='switchTab("#p4")'>4</a></li>
    <li><a onclick='switchTab("#p5")'>5</a></li>
        <li class="active"><a href="#p6">6</a></li>

  </ul>
        </div>

                            </div>




  </div>
  </div>
  </div>

</div>
</div>
