<app-navbar></app-navbar>
<div class="card bg-dark text-white border-0">
  <div class="card-img-overlay w-75 mx-auto my-5">

      <div class="my-5 text-dark">

      </div>
  </div>
</div>
<div class="container">

  <h1>Example Blog</h1>

  <div class="blog-board">

    <div class="thumbnail col-xs-3">
      <img src="https://images.unsplash.com/photo-1539107430259-d4b0b1d3d14b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ffc01c1b1f5ef9e46312df0722f20a3d&auto=format&fit=crop&w=500&q=60" alt="...">
      <div class="caption">
        <h3><a href="">Post Title</a></h3>
        <p>Etiam nec tristique nibh. Etiam enim tortor, ultricies vel nisl ut, rhoncus molestie libero. Morbi pulvinar semper aliquet. Phasellus facilisis sem a sapien suscipit tincidunt at nec nisi. Quisque sit amet consectetur tellus.<span><a href=""> more...</a></span></p>

        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div><!-- caption -->
    </div><!-- thumbnail -->

    <div class="thumbnail col-xs-3">
      <img src="https://images.unsplash.com/photo-1539061310855-7d586f445b1a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b2499747de06c9c1a13d4c1e1ce3bbdc&auto=format&fit=crop&w=500&q=60" alt="...">
      <div class="caption">
        <h3><a href="">Post Title</a></h3>
        <p>Etiam nec tristique nibh. Etiam enim tortor, ultricies vel nisl ut, rhoncus molestie libero. Morbi pulvinar semper aliquet. Phasellus facilisis sem a sapien suscipit tincidunt at nec nisi. Quisque sit amet consectetur tellus.<span><a href=""> more...</a></span></p>

        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div><!-- caption -->
    </div><!-- thumbnail -->

    <div class="thumbnail col-xs-3">
      <img src="https://images.unsplash.com/photo-1539138074579-037533651a3f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37cd22009b53b2c0231ef6b0a4e73e66&auto=format&fit=crop&w=500&q=60" alt="...">
      <div class="caption">
        <h3><a href="">Post Title</a></h3>
        <p>Etiam nec tristique nibh. Etiam enim tortor, ultricies vel nisl ut, rhoncus molestie libero. Morbi pulvinar semper aliquet. Phasellus facilisis sem a sapien suscipit tincidunt at nec nisi. Quisque sit amet consectetur tellus.<span><a href=""> more...</a></span></p>

        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div><!-- caption -->
    </div><!-- thumbnail -->



  </div><!-- blog-board -->

</div><!-- container -->
<!-- someting -->
<div class="container-fluid mt-5">
  <ul class="list-unstyled">
      <li class="media shadow rounded">
          <img class="" src="https://cdn.pixabay.com/photo/2014/07/01/12/34/street-381227_1280.jpg"
              alt="Generic placeholder image">
          <div class="media-body p-5 text-center align-self-center">
              <p class="font-italic text-muted"><span class="mr-2">by Autor</span><span>Oct 22, 2019</span> </p>
              <h5 class="mt-0 mb-1">List-based media object</h5>
              <p class="text-muted"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                  sollicitudin. Cras purus
                  odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                  fringilla. Donec lacinia congue felis in faucibus...</p>
              <hr>
              <p class="text-muted">#Lorem #Ipsum</p>
          </div>
      </li>
      <li class="media my-4 shadow rounded">
          <div class="media-body p-5 text-center align-self-center">
              <p class="font-italic text-muted"><span class="mr-2">by Autor</span><span>Oct 22, 2019</span> </p>
              <h5 class="mt-0 mb-1">List-based media object</h5>
              <p class="text-muted"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                  sollicitudin. Cras purus
                  odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                  fringilla. Donec lacinia congue felis in faucibus...</p>
              <hr>
              <p class="text-muted">#Lorem #Ipsum</p>
          </div>
          <img class="" src="https://cdn.pixabay.com/photo/2014/07/10/10/20/golden-gate-bridge-388917_1280.jpg"
              alt="Generic placeholder image">
      </li>
      <li class="media shadow rounded">
          <img class="" src="https://cdn.pixabay.com/photo/2016/11/29/06/20/blonde-1867768_1280.jpg"
              alt="Generic placeholder image">
          <div class="media-body p-5 text-center align-self-center">
              <p class="font-italic text-muted"><span class="mr-2">by Autor</span><span>Oct 22, 2019</span> </p>
              <h5 class="mt-0 mb-1">List-based media object</h5>
              <p class="text-muted"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                  sollicitudin. Cras purus
                  odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                  fringilla. Donec lacinia congue felis in faucibus...</p>
              <hr>
              <p class="text-muted">#Lorem #Ipsum</p>
          </div>
      </li>
  </ul>
</div>
<app-footer></app-footer>
